<h1>Hello World</h1>

<h2>What's your name?</h2>

<% [1,2,3].each do |i| %>
<h3>
  I Found: <%= i %>
</h3>
<% end %>

<form action="/greeting" method="POST">
  <p>
    <label for="name">Your Name:</label>
    <input type="text" name="name" />
  </p>

  <p>
    <input type="submit" />
  </p>
</form>